{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}

    <form action="{% url 'consulta' %}" method="post">
        {% csrf_token %}
        {% for field in pessoa_form.visible_fields %}
         <div class="form-group">
         <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{field|add_class:'form-control'}}
        {% endfor %}
        </div>
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {% if field.name != 'classe_viagem' %}
            {{field|add_class:'form-control'}}
            {% else %}
            {{field|add_class:'form-select'}}
            {% endif %}
        </div>
        {% for error in field.errors %}
        <section class="alert alert-danger" role="alert">
            {{ field.errors }}
        </section>
        {% endfor %}
        {% endfor %}

        <input type="submit" value="Ok" class="btn btn-success">
    </form>
{% endblock %}